:root {
  --surveyMain: #222;
  --surveySecond: rgb(102, 102, 102);
  --surveyBgMain:  #FAFAFA;
  --surveyBgSecond: #959697;
  --surveyDistinct:  #4557bb;
  --surveyDanger: rgb(211, 59, 59);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--surveyMainColor);
  background-color: var(--surveyBgSecond);
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 1.75rem;
  text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}
p {
  line-height: 1.45;
  margin-bottom: 1.5rem;
  text-align: center; 
  font-weight: 300px;
  font-size: 1.6rem;
}

.container {
  background-color: var(--surveyBgMain);
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 5px;
}
.survey-form {
  display: flex;
  flex-direction: column;
}

.form-item {
  border: 1px solid red;
  display: flex;
}
.form-item__first,
.form-item__second {
  flex: 1;
  display: flex;
}
 .form-item__first  {
   justify-content: flex-end;
   align-items: center;
   padding: 1rem 3rem;
 }

.form-item__second {
  justify-content: flex-start;
  align-items: center;
}