:root {
  --surveyMainColor: #222;
  --surveyBgMainColor:  #FAFAFA;
  --surveyBgSecondColor: #444857;
  --surveyDistinctColor:  #4557bb;
  --surveyDangerColor: rgb(211, 59, 59);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--surveyMainColor);
  background-color: #f0f0f0;
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 1.75rem;
  text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll; 
}


p {
  line-height: 1.45;
  margin-bottom: 1.5rem;
}